.banner_container {
  position: relative;
  transition: all 0.7s;
  // background: url("./../../assets/banner/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 80vh;
}

.banner_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.7s;
}

.countdown {
  display: flex;
  color: #fff;
  align-items: end;
  line-height: 1;
  padding-right: 20px;
  .countdown_count {
    font-size: 4rem;
    padding-right: 10px;
    text-align: center;
  }

  .countdown_text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.slick-slide {
  height: 100%;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.logo {
  background-image: url(src/assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 450px;
}

.logo-text {
  color: #fff;
  font-weight: bold !important;
  letter-spacing: 7px !important;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.logo-text {
  padding: 64px;

  animation: shine 6s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 1000px;
  }
}

.reg_button {
  background-color: rgba(255, 255, 255, 1) !important;
  border: none !important;
  height: fit-content !important;
  font-size: 2rem !important;
  padding: 10px 15px !important;
  color: #000 !important;
}

.reg_button:hover {
  padding: 15px 20px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
