body {
  overflow: auto !important;
}

.header-items {
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s;
}

.header-items:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.15rem;
}

.distance {
  .ant-tabs-tab {
    width: 350px;
  }

  &.isMobile {
    .ant-tabs-nav-list {
      width: 100%;
    }
    .ant-tabs-tab-btn {
      margin: auto;
    }
    .ant-tabs-tab {
      margin: 0;
    }
  }
}

.sponsor-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 2/1;

  margin-left: auto;
  margin-right: auto;
  &.isMobile {
    padding: 100;
  }
}

.sponsors {
  &.isMobile {
    .ant-row {
      width: 80%;
      margin: auto !important;
    }
  }
}

.subscribe {
  .subscribe-button {
    width: 20%;
    margin-left: 50px;
    margin-top: auto;
    font-size: 1.3rem;
    height: auto;
    border: 1px solid #fff;
  }

  .subscribe-input {
    border-bottom: 1px solid #fff;
    border-radius: 0;
    font-size: 3rem;
    color: #fff;
    width: 100%;
  }

  &.isMobile {
    .subscribe-button {
      width: 100%;
      font-size: 1rem;
      margin: auto;
      margin-top: 20px;
    }
    .subscribe-input {
      font-size: 2rem;
    }
  }
}

.documents {
  margin-top: 10px;
  font-size: 1.4rem;
}
.documents-button {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  white-space: break-spaces;
}

.distance_card {
  .ant-card-body {
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1450a3;
    @media only screen and (max-width: 800px) {
      padding: 15px !important;
    }
  }

  .card_button {
    font-weight: 600;
    transition: all 0.7s;
    font-size: 1rem;
    width: 100%;
    background-color: #337ccf;
    color: #ffffff;
    border: none;
    font-weight: 600;

    @media only screen and (max-width: 800px) {
      font-size: 0.9rem;
    }
  }

  .card_title {
    color: #fff;
    font-size: 1.3rem;
    transition: all 0.7s;
  }

  .card_duration {
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.7s;
  }

  &:hover {
    .card_button {
      width: 100%;
      color: #fff;
      background-color: #191d88;
    }
  }
}

.ant-tabs-tab-btn,
.ant-tabs-tab-active {
  color: #fff !important;
}

.ant-tabs-nav {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.15) 100%
  ) !important;
}

.ant-tabs-tab-active {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
